<html>
<head>
    <meta charset="UTF-8">
    <title>
         Парсер hh
    </title>
    <!--    подключение css-->
    <link href="main.css" rel="stylesheet">
</head>
<body>
<!-- Тут будет тело страницы-->
<!--    h1-h6 размер заголовков-->
<h1>
    Парсер hh
</h1>
<h2>
    Это главная страница
</h2>
<h3>Информация о системе</h3>
<!--    p - для нового абзаца-->
<p>
    Парсер умеет получать вакансиии с hh
<!--    br - для переноса строки-->
    <br>
    <br />
    И выводить необходимые ключевые навыки для вакансии
</p>
<p> В нем можно задать различные параметры поиска
</p>

<!--<p style="color: aqua;">-->
<!--<p class="proverb">-->
<!--    Любишь кататься люби и саночки носить-->
<!--</p>-->

<!--a - ссылка на другую страницу, href - адрес страницы-->
<a href="form.html">Начать поиск</a>

</body>
</html>